// Fonts
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

// General 
body {
	font-family: "cairo";
}

// Sidebar
.menu-title {
    font-size: 0.9rem;
    font-weight: 600;
}
.menu-item {
	font-size: 0.9rem;
    font-weight: 500;
}
.brand-text {
	color: #0f4fee;
	font-weight: 600;
	img {
		width: 85px;
	}
}
.nav {
	.modern-nav-toggle {
		margin: 2rem 0;
	}
}
.vertical-layout.vertical-menu-modern .main-menu .navigation > li > a svg, .vertical-layout.vertical-menu-modern .main-menu .navigation > li > a i {
    height: 18px;
    width: 18px;
	margin-top: -3px;
}
.breadcrumb {
	padding: 0;
}
.content-header-title {
	font-size: 1.2rem;
	font-weight: 600;
	margin-bottom: 3px;
}
.breadcrumb-item {
	a {
		font-size: 0.9rem;
	}
}
.breadcrumb-item.active {
	font-size: 0.9rem;
}
.navbar-nav {
	margin-left: 0px !important;
}
.dropdown-user-link {
	direction: ltr;
}
.main-menu .navigation > li.active > a {
    background: linear-gradient(-118deg, #0046ed, rgb(0, 197, 218)) !important;
    box-shadow: unset !important;
    color: #FFFFFF !important;
    font-weight: 500 !important;
    border-radius: 6px !important;
}
.main-menu.menu-light .navigation > li ul .active {
	background: linear-gradient(-118deg, #0046ed, rgb(0, 197, 218)) !important;
}
.main-menu .navbar-header .navbar-brand .brand-text {
    color: #007ae5;
}
.col-xl-2,.col-md-4,.col-sm-6 {
	padding-right: 8px;
	padding-left: 8px;
}
.container, .container-fluid, .container-xs, .container-sm, .container-md, .container-lg, .container-xl, .container-xxl {
    padding-left: 8px;
    padding-right: 8px;
}
.card {
	margin-bottom: 14px;
	box-shadow: 0 4px 24px 0 rgba(34, 41, 47, 0.05) !important;
}
.avatar {
	border-radius: 14px;
	background-color: #007ae529;
}
.main-menu .navigation > li > ul li:not(.has-sub) {
    margin: 0 15px;
    box-shadow: unset !important;
}
.main-menu .navigation > li > a {
    margin: 0 15px;
    border-radius: 6px !important;
}
// ------------------
// -- Home Page --
// -----------------
.card {
	a {
		text-decoration: none;
		color: unset;
		transition: all 0.2s ease-in-out;
	}
	.card-body {
		h2 {
			font-family: 'Oswald', sans-serif;
			font-weight: 400 !important;
			margin-bottom: 2px;
		}
		.card-text {
			font-weight: 600;
		}
	}
}
.home-statistics-card {
	.card {
		.card-text {
			transition: all 0.2s ease-in-out;
		}
		&:hover {
			.card-text {
				color: #004cec;
			}
		}
	}
	svg {
		height: 20px;
		width: 20px;
	}
}
















.table-parent {
	border-radius: 12px;
	overflow-x: auto;
	width: 100%;
	padding: 0 10px;

	.table-header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 12px 15px 12px 10px;
		border-bottom-width: 1px;
		border-bottom-style: dashed;
		border-bottom-color: #EFF2F5;
		font-weight: 700;
		font-size: 0.9rem;
		p {
			margin: 0;
			font-size: 1.1rem;
			font-weight: 600;
		}
		.table-action {
			display: flex;
			align-items: center;
			.table-link {
				margin: 0 5px;
				a {
					padding: 10px 30px;
					font-size: 0.9rem;
					border-radius: 12px;
					font-weight: 600;
					box-shadow: 0px 0px 20px 0px rgba(76, 87, 125, 0.02);
					height: 39px;
					svg {
						display: inline-flex;
						align-items: center;
						vertical-align: middle;
						height: 18px;
						width: 18px;
						margin-left: 4px;
						margin-top: -1px;
					}
				}
			}
			.table-link-fill {
				a {
					background: linear-gradient(-118deg, #007ae5, rgba(115, 103, 240, 0.7));
					color: #FFF;
					svg {
						fill: #FFF;
					}
				}
			}
			.table-link-transparent {
				a {
					background: #f5f8fa;
					color: #1e1e2d;
					svg {
						fill: #1e1e2d;
					}
				}
			}
		}
	}
	.top {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 10px 10px 6px 10px;
		width: 100%;
		display: flex;
		align-items: center;
		.dataTables_filter {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 100%;
			label {
				width: 100%;
				input {
					outline: none;
					box-shadow: none;
					border-radius: 0.475rem;
					width: 100%;
					height: 39px;
					padding: 10px 37px 10px 20px;
					border: 1px solid #f7f6f6;
					background-color: #F5F8FA;
					border: 1px solid #EFF2F5 !important;
					color: #5E6278;
					transition: color 0.2s ease, background-color 0.2s ease;
					font-weight: 700;
					font-size: 0.8rem;
					margin-right: 0 !important;
					&::placeholder {
						color: #a1a5b7;
						font-weight: 600;
						font-size: 0.85rem;
					}
				}
			}
			.search-icon {
				position: absolute;
				top: 56%;
				right: 2px;
				transform: translate(-50%, -50%) rotateY(180deg);
				fill: #5E6278;
				height: 18px;
				width: 18px;
			}
		}
		.table-buttons-parent {
			display: flex;
			align-items: center;
			.table-actions-buttons {
				display: flex;
				align-items: center;
				font-size: 0.75rem;
				font-weight: 700;
				display: none;
			}
			.delete-all-button {
				background: #f1416c;
				color: #FFF;
				outline: none;
				border: 0;
				box-shadow: none;
				padding: 9px 25px;
				cursor: pointer;
				border-radius: 6px;
				font-size: 0.75rem;
				font-weight: 700;
				display: flex;
				align-items: center;
				svg {
					height: 19px;
					width: 19px;
					fill: #FFF;
					margin-right: 5px;
				}
			}
		}
		.dt-buttons {
			margin: 0;
			margin-left: 0 !important;
			display: flex;
			align-items: center;
			justify-content: end;
			.buttons-colvis,.buttons-collection {
				outline: none;
				border: 0;
				box-shadow: none;
				background: #f5f8fa;
				padding: 10px 25px;
				cursor: pointer;
				border-radius: 8px;
				font-size: 0.8rem;
				font-family: "cairo";
				font-weight: 700;
				display: flex;
				align-items: center;
				justify-content: end;
				color: #1e1e2d;
				outline: none;
    			border: 1px solid #EFF2F5 !important;
				margin-right: 15px;
				margin-left: 0 !important; 
				width: 150px;
    			justify-content: center;
				.dt-down-arrow {
					display: flex;
					align-items: center;
					margin: 0 5px 0 0;
					svg {
						height: 19px;
						width: 19px;
						fill: #1e1e2d;
					}
				}
			}
		}
	}
	.bottom {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-top: 0;
		padding: 0 20px;
		.bc {
			display: flex;
			align-items: center;
			justify-content: start;
			.dataTables_info {
				padding: 0;
				margin-right: 10px;
				font-size: 0.75rem;
				font-weight: 700;
			}
		}
		.paginate_button {
			position: relative;
			svg {
				height: 18px;
				width: 18px;
				fill: #000;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}
	}
	.dataTables_wrapper {
		padding: 0px 0 0px 0px;
		overflow: hidden;
	}
}
table {
	background: transparent;
	margin: 24px auto;
	display: inline-block;
	display: inline-table;
	border-bottom: 0 !important;
	width: 100% !important;
	thead {
		padding: 0 10px;
		th {
			color: #000;
			border-bottom-width: 1px;
			border-bottom-style: dashed;
			font-size: 0.75rem;
			padding: 20px 15px 20px 10px;
			text-align: right;
			border-bottom: 1px solid #EBE9F1;
			max-width: 100px !important;
		}
	}
	thead tr th:first-child {
		background-image: unset !important;
		// padding-right: 0;
	}
	tbody {
		padding: 0 0;
		padding: 0 10px;
		tr {
			background: transparent !important;
			border-bottom-width: 1px;
			border-bottom-style: dashed;
			border-bottom-color: #EFF2F5;
			transition: all 0.2s ease-in-out;
			&:hover {
				background: #f5f8fa !important;
				border-color: transparent !important;
				border-bottom-style: solid !important;
				td {
					border-bottom-width: 1px;
					border-bottom-style: dashed;
					border-bottom-color: transparent;
				}
			}
			td {
				padding: 15px 15px 15px 10px;
				font-size: 0.8rem;
				font-weight: 700;
				border-bottom-width: 1px;
				border-bottom-style: dashed;
				border-bottom-color: #EFF2F5;
				color: #6c6f7e;
				text-align: right;
			}
		}
		.selected {
			background: #f5f8fa !important;
			border-color: transparent !important;
			border-bottom-style: solid !important;
		}
		.name-cell {
			display: flex;
			align-items: center;
			figure {
				height: 50px;
				width: 50px;
				margin: 0;
				background: {
					size: cover;
					position: center center;
				}
				border-radius: 50%;
			}
			.name-info {
				text-align: right;
				margin-right: 15px;
				p {
					color: #000;
					font-weight: 700;
					margin: 0;
				}
				span {
					margin: 0;
					font-weight: 700;
					color: #009ef7;
					margin-top: -4px;
					display: block;
				}
			}
		}
		.select-box-style {
			span {
				color: #7E8299;
				background-color: #F5F8FA;
				padding: 4px 10px;
				border-radius: 6px;
				font-size: 0.7rem;
				font-weight: 700;
			}
			.svg-parent {
				padding: 4px 15px;
				border-radius: 5px;
				svg {
					height: 18px;
					width: 18px;
					display: inline-flex;
					align-items: center;
					cursor: pointer;
					vertical-align: middle;
					padding: 1px;
				}
			}
		}
		.select-box-style-green {
			span {
				color: #50cd89;
				background-color: #e8fff3;
			}
		}
		.select-box-style-red {
			span {
				color: #f1416c;
				background-color: #fff5f8;
			}
		}
		.select-box-style-yellow {
			span {
				color: #ffc700;
				background-color: #fff8dd;
			}
		}
		.select-box-style-main {
			span {
				color: #f1faff;
				background-color: #009ef7;
				svg {
					fill: #FFF;
				}
			}
		}
		.cell-parent {
			display: flex;
			align-items: center;
			svg {
				height: 18px;
				width: 18px;
				display: flex;
				margin-right: 3px;
				cursor: pointer;
				fill: #009ef7;
			}
			span {
				color: #000;
				font-weight: 700;
			}
		}
	} 
}

// General 
.show {
    display: flex !important;
}
.hide {
    display: none !important;
}
// Pafenition Style
.dataTables_wrapper .dataTables_paginate .paginate_button {
    border: 1px solid transparent;
    background: transparent;
    border-radius: 50%;
    height: 28px;
    width: 28px;
    font-weight: 700;
    color: #000 !important;
    font-size: 0.75rem;
    line-height: 26px;
    transition: all 0.2s ease-in-out;
    &:hover {
        border: 1px solid #ededed;
        background: #f1f3f6;
        color: #000 !important;
        line-height: 26px;
    }
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current {
    border: 1px solid #40b6f9;
    background: #40b6f9;
    border-radius: 50%;
    height: 28px;
    width: 28px;
    font-weight: 700;
    color: #FFF !important;
    font-size: 0.75rem;
    line-height: 26px;
    transition: all 0.2s ease-in-out;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    border: 1px solid #38adf5;
    background: #38adf5;
    color: #FFF !important;
    line-height: 26px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:active {
    outline: none;
    border: 1px solid transparent;
    box-shadow: none;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
    box-sizing: border-box;
    display: inline-block;
    min-width: 0;
    padding: 0;
    margin: 0 3px;
    text-align: center;
    text-decoration: none !important;
    cursor: pointer;
}
.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
    color: #000;
    font-weight: 700;
    font-size: 0.75rem;
    display: flex;
    align-items: center;
    padding: 0;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
    display: inline-grid;
}

table.dataTable thead .sorting:before, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_desc:before {
    right: 14px;
}
table.dataTable>thead .sorting:after, table.dataTable>thead .sorting_asc:after, table.dataTable>thead .sorting_desc:after, table.dataTable>thead .sorting_asc_disabled:after, table.dataTable>thead .sorting_desc_disabled:after {
    right: 14px;
}
table.dataTable thead .sorting:before, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_desc:before {
    top: 10px;
	height: 12px;
	width: 12px;
}
table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after {
    top: 18px;
	height: 12px;
	width: 12px;
}
table.dataTable td, table.dataTable th {
    padding: 0.72rem 1.4rem;
    vertical-align: middle;
	font-weight: 600;
    font-size: 0.85rem;
}
.table:not(.table-dark):not(.table-light) thead:not(.thead-dark) th, .table:not(.table-dark):not(.table-light) tfoot:not(.thead-dark) th {
    background-color: #eff2f5;
    font-weight: 700;
    color: #414141;
    letter-spacing: 0;
}
.table thead th {
    border-bottom: 1px solid #EBE9F1;
}
div.dataTables_wrapper div.dataTables_filter label, div.dataTables_wrapper div.dataTables_length label {
    margin-top: 0;
    margin-bottom: 0;
}
div.dataTables_wrapper .dataTables_info {
    padding-top: 0 !important;
}
div.dataTables_wrapper div.dataTables_filter select, div.dataTables_wrapper div.dataTables_length select {
    background-position: calc(100% - (100% - 2px)) 8px, calc(100% - (100% - 20px)) 14px, 0 0;
    padding: 0 0.8rem;
    width: 65px;
    height: 30px;
    margin: 0 0;
	background-color: #f5f8fa;
	border: 1px solid #EFF2F5 !important;
	box-shadow: unset; 
	cursor: pointer;
	&:active {
		box-shadow: unset;
	}
	&:focus {
		box-shadow: unset;
	}
	&:after {
		background-image : url('data:image/svg+xml,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 24 24\' fill=\'none\' stroke=\'%23fff\' stroke-width=\'2\' stroke-linecap=\'round\' stroke-linejoin=\'round\' class=\'feather feather-chevron-down\'%3E%3Cpolyline points=\'6 9 12 15 18 9\'%3E%3C/polyline%3E%3C/svg%3E');
		color : #6E6B7B;
	}
}
.page-item.disabled .page-link {
    pointer-events: none;
    cursor: auto;
    border-color: #DAE1E7;
	color: #000;
	&:hover {
		color: unset;
		a {
			color: unset;
		}
	}
	a {
		color: #000 !important;
	}
}
.page-item.active .page-link {
    border-radius: 10px;
}
.page-item .page-link {
    border-radius: 10px;
}
.page-item:first-child:not(.prev-item) .page-link {
    border-radius: 10px !important;
}
.page-item:last-child:not(.next-item) .page-link {
    border-radius: 10px !important;
}
.table th, .table td {
    border-bottom-width: 1px !important;
    border-bottom-style: dashed !important;
    border-bottom-color: #EFF2F5 !important;
	border-top: unset;
}
.font-weight-bold {
    font-weight: 700 !important;
}
div.dataTables_wrapper .dt-button-collection {
    background-color: #FFFFFF;
    width: 150px;
}
div.dt-button-collection .dt-button {
	border-radius: 7px;
    margin: 6px auto !important;
    outline: none;
    box-shadow: unset;
    border: unset;
    display: block;
    padding: 3px 15px;
    font-weight: 700;
    font-size: 0.9rem;
    width: 90%;
    height: 29px;
    border-top: 1px solid #eff2f5;
    text-align: center;
}
.dt-button.buttons-columnVisibility.active {
	background: #007ae5;
    color: #FFF;
}
.table-item-icon {
	margin: 0 7px;
	svg {
		height: 16px !important;
		width: 16px !important;
	}
}
.table-item-delete {
	svg {
		color: #ec6768;
	}
}
div.dataTables_wrapper .dt-button-collection > div[role='menu'] {
    text-align: right;
    box-shadow: 0 5px 16px -8px;
    min-width: 8rem;
    padding: 6px 0;
    border-radius: 8px;
}
.action-container {
	min-width: 105px;
	text-align: center;
}
.num-badge {
	width: clamp(35px, 100%, 170px);
    display: inline-flex;
	.num-badge-data {
		height: 25px;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		margin-left: 6px;
		color: #000000;
		background-color: #eff2f5;
		padding: 4px 10px;
		border-radius: 6px;
		font-size: 0.8rem;
		font-weight: 700;
		letter-spacing: 0.6px;
	}
	.le {
		margin-left: 3px;
		font-size: 0.7rem;
		margin-top: 3px;
		color: #007ae5;
	}
	.phone-badge-data {
		height: 25px;
		width: 95px;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		margin-left: 6px;
		color: #000000;
		background-color: #eff2f5;
		padding: 4px 10px;
		border-radius: 6px;
		font-size: 0.8rem;
		font-weight: 700;
		letter-spacing: 0.6px;
	}
}
.status-badge {
	.status-badge-data {
		height: 25px;
		width: 60px;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		margin-left: 6px;
		background-color: rgba(115, 103, 240, 0.12);
		color: #007ae5;
		padding: 4px 10px;
		border-radius: 6px;
		font-size: 0.8rem;
		font-weight: 700;
		letter-spacing: 0.6px;
	}
	.status-new {
		background-color: rgba(255, 159, 67, 0.12);
		color: #FF9F43 !important;
	}
	.status-active {
		background-color: rgba(40, 199, 111, 0.12) !important;
		color: #28C76F !important;
	}
	.status-ban {
		background-color: rgba(234, 84, 85, 0.12);
		color: #EA5455 !important;
	}
}
.date-badge {
	.date-badge-data {
		height: 25px;
		width: auto;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		margin-left: 6px;
		color: #000000;
		background-color: #eff2f5;
		padding: 4px 10px;
		border-radius: 6px;
		font-size: 0.8rem;
		font-weight: 700;
		letter-spacing: 0.6px;
	}
}
.table-parent .table-header .table-action .table-link a {
    background: linear-gradient(-118deg, #007ae5, rgba(115, 103, 240, 0.7));
}
label {
    padding-right: 4px;
}
// custom-form-elements
.custom-form-elements {
	.card-header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		.table-link-fill {
			a {
				background: linear-gradient(-118deg, #007ae5, rgba(115, 103, 240, 0.7));
				color: #FFF;
				svg {
					fill: unset;
				}
			}
		}
	}
	.card-body {
		padding: 0 !important;
		.form-group {
			padding: 7px 25px;
			margin-bottom: 0px;
		}
	}
	.custom-form-elemrnt-button {
		background: #f5f5f587;
		border-top: 1px dashed #EFF2F5;
		padding: 20px 25px;
		border-bottom-right-radius: 8px;
		border-bottom-left-radius: 8px;
		margin-top: 15px;
		button {
			width: 150px;
			box-shadow: unset;
			&:hover {
				box-shadow: unset !important;
			}
		}
	}
}
.select2-selection__rendered {
	padding: 0 10px !important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 28px;
    font-size: 1rem;
    font-weight: 400;
    color: #6E6B7B;
}

.td-30 {
	width: 30px !important;
}
.td-60 {
	width: 60px !important;
}
.td-70 {
	width: 70px !important;
}
.td-80 {
	width: 80px !important;
}
.td-90 {
	width: 90px !important;
}
.td-135 {
	width: 135px !important;
	font-size: 0.8rem !important;
	font-weight: 700 !important;
}
.td-170 {
	width: 170px !important;
	font-size: 0.8rem !important;
	font-weight: 700 !important;
}

.fr-inline {
	border: 1px solid #cccccc;
    border-radius: 12px;
    padding: 0 0;
	border: 1px solid #D8D6DE;

}
.fr-element {
	height: 100px;
	overflow-y: auto;
	overflow-x: hidden;
}
.fr-counter {
	display: none;
}
.fr-quick-insert {
	display: none;
}
.fr-second-toolbar {
	display: none;
}
// .fr-top {
// 	border: unset;
// }
.q-form-group {
	textarea {
		border: unset;
	}
	.fr-element {
		border-bottom: 1px solid #D8D6DE;
	}
}
 .fr-element {
    border-radius: 8px;
	font-family: "cairo" !important;
	padding: 20px 20px;
	margin-bottom: -1px;
	resize: vertical;
	p {
		margin: 0;
	}
}
.fr-placeholder {
	font-family: "cairo" !important;
}
.fr-box.fr-basic.fr-top .fr-wrapper {
    border-top: 0;
    border-bottom-right-radius: 12px;
	border-bottom-left-radius: 12px;
	border: 1px solid #D8D6DE;
	border-bottom: 1px solid #efefef;
	border-top: 0;
}
.fr-toolbar {
	border: 1px solid #D8D6DE;
}
textarea {
	&:focus {
		color: #6E6B7B;
		background-color: #FFFFFF;
		border-color: #007ae5;
		outline: 0;
		box-shadow: 0 3px 10px 0 rgba(34, 41, 47, 0.1);
	}
}
.active-textarea {
	color: #6E6B7B;
	background-color: #FFFFFF;
	border-color: #007ae5;
	outline: 0;
	box-shadow: 0 3px 10px 0 rgba(34, 41, 47, 0.1);
}
.answer-form-group {
	padding: 9px 9px;
}

.answer-form-group {
	display: flex;
	width: 100%;
	.form-label {
		font-weight: 700;
		font-size: 1.1rem;
	}
	.fr-inline {
		width: 100%;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		border-top-left-radius: 8px;
		border-bottom-left-radius: 8px;
		margin-right: -1px;
	}
	.answer-form-group-right {
		width: 35px;
		display: grid;
		border: 1px solid #D8D6DE;
		text-align: center;
    	align-items: center;
		border-top-right-radius: 8px;
		border-bottom-right-radius: 8px;
	}
	.checkbox-line {
		margin: 7px 0;
		display: flex;
		justify-content: center;
		.checkbox-wrap {
			position: relative;
			display: flex;
			.h6 {
				height: 20px;
				width: 20px;
				display: flex;
				justify-content: center;
				align-items: center;
				margin: 0;
				input {
					-webkit-appearance: none;
					-moz-appearance: none;
					appearance: none;
					-webkit-tap-highlight-color: transparent;
					cursor: pointer;
					margin: 0;
				  }
				  input:focus {
					outline: 0;
				  }
				  .cbx {
					position: absolute;
					width: 20px;
					height: 20px;
				  }
				  .cbx input {
					position: absolute;
					top: 0;
					left: 0;
					width: 20px;
					height: 20px;
					border: 1px solid #00a552;
					border-radius: 50%;
					z-index: 2;
				  }
				  .cbx label {
					width: 20px;
					height: 20px;
					background: none;
					border-radius: 50%;
					position: absolute;
					top: 0;
					left: 0;
					transform: trasnlate3d(0, 0, 0);
					pointer-events: none;
				  }
				  .cbx svg {
					position: absolute;
					top: 5px;
					left: 2px;
					z-index: 1;
					pointer-events: none;
					height: 10px;
					width: 16px;
				  }
				  .cbx svg path {
					stroke: #FFF;
					stroke-width: 3;
					stroke-linecap: round;
					stroke-linejoin: round;
					stroke-dasharray: 19;
					stroke-dashoffset: 19;
					transition: stroke-dashoffset 0.3s ease;
					transition-delay: 0.2s;
				  }
				  .cbx input:checked + label {
					animation: splash 0.6s ease forwards;
				  }
				  .cbx input:checked + label + svg path {
					stroke-dashoffset: 0;
				  }
				  @-moz-keyframes splash {
					40% {
					  background: #00a552;
					  box-shadow: 0 -18px 0 -8px #00a552, 16px -8px 0 -8px #00a552, 16px 8px 0 -8px #00a552, 0 18px 0 -8px #00a552, -16px 8px 0 -8px #00a552, -16px -8px 0 -8px #00a552;
					}
					100% {
					  background: #00a552;
					  box-shadow: 0 -36px 0 -10px transparent, 32px -16px 0 -10px transparent, 32px 16px 0 -10px transparent, 0 36px 0 -10px transparent, -32px 16px 0 -10px transparent, -32px -16px 0 -10px transparent;
					}
				  }
				  @-webkit-keyframes splash {
					40% {
					  background: #00a552;
					  box-shadow: 0 -18px 0 -8px #00a552, 16px -8px 0 -8px #00a552, 16px 8px 0 -8px #00a552, 0 18px 0 -8px #00a552, -16px 8px 0 -8px #00a552, -16px -8px 0 -8px #00a552;
					}
					100% {
					  background: #00a552;
					  box-shadow: 0 -36px 0 -10px transparent, 32px -16px 0 -10px transparent, 32px 16px 0 -10px transparent, 0 36px 0 -10px transparent, -32px 16px 0 -10px transparent, -32px -16px 0 -10px transparent;
					}
				  }
				  @-o-keyframes splash {
					40% {
					  background: #00a552;
					  box-shadow: 0 -18px 0 -8px #00a552, 16px -8px 0 -8px #00a552, 16px 8px 0 -8px #00a552, 0 18px 0 -8px #00a552, -16px 8px 0 -8px #00a552, -16px -8px 0 -8px #00a552;
					}
					100% {
					  background: #00a552;
					  box-shadow: 0 -36px 0 -10px transparent, 32px -16px 0 -10px transparent, 32px 16px 0 -10px transparent, 0 36px 0 -10px transparent, -32px 16px 0 -10px transparent, -32px -16px 0 -10px transparent;
					}
				  }
				  @keyframes splash {
					40% {
					  background: #00a552;
					  box-shadow: 0 -18px 0 -8px #00a552, 16px -8px 0 -8px #00a552, 16px 8px 0 -8px #00a552, 0 18px 0 -8px #00a552, -16px 8px 0 -8px #00a552, -16px -8px 0 -8px #00a552;
					}
					100% {
					  background: #00a552;
					  box-shadow: 0 -36px 0 -10px transparent, 32px -16px 0 -10px transparent, 32px 16px 0 -10px transparent, 0 36px 0 -10px transparent, -32px 16px 0 -10px transparent, -32px -16px 0 -10px transparent;
					}
				  }
			} 
			p {
				padding-left: 0px;
				font-size: 0.85rem;
				font-weight: 500;
				line-height: 22px;
				cursor: pointer;
				color: #000;
				margin-right: 10px;
			}
		}
		.checkbox-line-text {
			color: #000;
			font-size: .8rem;
			font-weight: 500;
		}
	}
}
.form-group-inline {
	display: flex;
	align-items: center;
	margin-top: 20px;
	label {
		margin-left: 20px;
	}
}
.bank-form-group {
	padding: 7px 12px !important;
}
.add-to-bank-inputs {
	display: none;
}
.show-bank-inputs {
	display: flex;
}